
<div class="container-fluid">
  <div class="row">
    <div class="chart-container col-md-4" style="position: relative;">    
      <canvas id="lineChartCanvas"></canvas>    
    </div>

    <div class="chart-container col-md-4" style="position: relative;">    
      <canvas id="pieChartCanvas"></canvas>    
    </div>

    <div class="chart-container col-md-4" style="position: relative;">    
      <canvas id="barChartCanvas"></canvas>    
    </div>
  </div>

  <div class="row">
    <div class="chart-container col-md-4" style="position: relative;">    
      <canvas id="doughnutChartCanvas"></canvas>    
    </div>

    <div class="chart-container col-md-4" style="position: relative;">    
      <canvas id="polarAreaChartCanvas"></canvas>    
    </div>

    <div class="chart-container col-md-4" style="position: relative;">    
      <canvas id="stackedBarChartCanvas">{{ barChart }}</canvas>    
    </div>
  </div>

</div>
